<ion-content class="ion-padding">

  <!-- Titulo de la pagina -->
  <ion-title class="ion-text-center titulo" color="medium" disabled="true">FOTOS DE LAS TAREAS</ion-title>

  <ion-item>
    <ion-label></ion-label>
  </ion-item>

  <!-- Arreglo de imagenes que mostraran las fotos tomadas -->
  <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
    <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
  </ion-col>

</ion-content>

<!-- Footer de la aplicacion para regresar a la pagina anterior -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="danger" (click)="dismiss()" expand="block">
      REGRESAR
    </ion-button>
  </ion-toolbar>
</ion-footer>