<ion-content class="ion-padding">

  <ion-title class="ion-text-center titulo" color="medium" disabled="true">AGREGAR TAREA</ion-title>

  <ion-item>
    <ion-label></ion-label>
  </ion-item>

  <ion-item>
    <ion-input (ionChange)="obtenerNombreTarea( $event )" class="ion-text-center texto-grande"
               placeholder="NOMBRE DE TAREA"></ion-input>
  </ion-item>

  <ion-item (ionChange)="fechaSeleccionado( $event )">
    <ion-label class="texto-grande ion-text-center" color="medium">FECHA <ion-icon name="calendar"></ion-icon></ion-label>
    <ion-datetime placeholder="SELECCIONAR" displayFormat="MMM DD, YYYY, HH:mm" display-timezone="utc"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-textarea (ionChange)="obtenerDetalleTarea( $event )" class="ion-text-center texto-mediano margen"
      placeholder="DETALLE DE TAREA"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label color="medium">SELECCIONAR STATUS</ion-label>
    <ion-select placeholder="" cancelText="Cancelar" (ionChange)="statusSeleccionado( $event )" debounce="250">
      <ion-select-option value="danger">Pendiente</ion-select-option>
      <ion-select-option value="warning">En Proceso</ion-select-option>
      <ion-select-option value="success">Terminado</ion-select-option>
    </ion-select>
  </ion-item>
    
  <ion-item lines="none">
    <ion-label class="ion-text-center texto-grande" color="medium">TOMAR FOTO</ion-label>
  </ion-item>

  <ion-button (click)="newPhoto()" expand="block">
    <ion-icon name="camera" color="light"></ion-icon>
  </ion-button>

  <ion-col *ngFor="let photo of photos; index as position">
      <ion-img src="{{photo.webviewPath}}"></ion-img>
  </ion-col>

  <ion-item lines="none">
    <ion-label class="ion-text-center texto-grande" color="medium">SELECCIONAR FOTO</ion-label>
  </ion-item>

  <ion-button (click)="fotoGaleria()" expand="block">
    <ion-icon name="image" color="light"></ion-icon>
  </ion-button>
  
</ion-content>
    
<ion-footer class="ion-no-border">
  <ion-button color="danger" (click)="cancelartarea()" expand="block">
    CANCELAR
  </ion-button>
  <ion-button color="primary" (click)="agregarTareaModal()" expand="block">
    ACEPTAR
  </ion-button>
</ion-footer>