<ion-content class="ion-padding">

  <!-- Titulo de la pagina -->
  <ion-title class="ion-text-center titulo" color="medium" disabled="true">AGREGAR TAREA</ion-title>

  <ion-item>
    <ion-label></ion-label>
  </ion-item>

  <!-- Se agregan los datos al formulario para hacer las validaciones -->
  <form [formGroup]="datosForm" (ionChange)="validar()">
    <!-- Boton que nos permite agregar el nombre de la tarea -->
    <ion-item>
      <!-- Envia el evento para poder modificar sus valores -->
      <ion-input (ionChange)="obtenerNombreTarea( $event )" class="ion-text-center texto-grande"
                placeholder="NOMBRE DE TAREA" formControlName="nombreDeTarea"></ion-input>
    </ion-item>

    <!-- Boton que nos permite escribir los detalles de la tarea -->
    <ion-item>
      <!-- Envia el evento para poder modificar sus valores -->
      <ion-textarea (ionChange)="obtenerDetalleTarea( $event )" class="ion-text-center texto-mediano margen"
        placeholder="DETALLE DE TAREA" formControlName="detalleDeTarea"></ion-textarea>
    </ion-item>
  </form>

  <!-- Boton que nos permite agregar la fecha limite de la tarea -->
  <!-- Envia el evento para poder modificar sus valores -->
  <ion-item (ionChange)="fechaSeleccionado( $event )">
    <ion-label class="texto-grande ion-text-center" color="medium">FECHA <ion-icon name="calendar"></ion-icon></ion-label>
    <ion-datetime placeholder="SELECCIONAR" displayFormat="MMM DD, YYYY, HH" display-timezone="utc" min="2021-01-01" max="2050-12-31"></ion-datetime>
  </ion-item>

  <!-- Boton que nos permite seleccionar el status de la tarea -->
  <ion-item lines="none">
    <ion-label color="medium">SELECCIONAR STATUS</ion-label>
    <!-- Envia el evento para poder modificar sus valores -->
    <ion-select placeholder="" cancelText="Cancelar" (ionChange)="statusSeleccionado( $event )" debounce="250">
      <ion-select-option value="danger">Pendiente</ion-select-option>
      <ion-select-option value="warning">En Proceso</ion-select-option>
      <ion-select-option value="success">Terminado</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Figura que mostrara el color seleccionado dependiendo del status elegido -->
  <ion-item class="margen centrado" lines="none">
    <ion-label class="icono-grande"><ion-icon color="{{ colorSeleccionado }}" slot="icon-only" name="caret-forward"></ion-icon></ion-label>
  </ion-item>

  <ion-item class="">
    <ion-label></ion-label>
  </ion-item>
    
  <ion-item lines="none">
    <ion-label class="ion-text-center texto-grande" color="medium">TOMAR FOTO</ion-label>
  </ion-item>

  <!-- Boton que nos permite tomar una foto cuando agreguemos una tarea -->
  <ion-button (click)="addPhotoToGallery()" expand="block" size="large">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
  
</ion-content>
    
<!-- Footer de la aplicacion para aceptar o cancelar las modificaciones -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="danger" (click)="cancelartarea()" expand="block">
      CANCELAR
    </ion-button>
    <!-- Si el formulario no acepta los datos del usuario deshabilita el boton de aceptar -->
    <ion-button color="primary" (click)="agregarTareaModal()" expand="block" [disabled]="isDisabled">
      ACEPTAR
    </ion-button>
  </ion-toolbar>
</ion-footer>