<ion-content>

  <ion-item-group class="header-progreso">
    <ion-title class="ion-text-center" color="light">PROGRESO DE TAREAS</ion-title>
    <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
  </ion-item-group>

  <ion-title class="ion-text-center titulo" color="medium" disabled="true">MATERIAS DISPONIBLES</ion-title>

  <ion-list>
    <ion-item-sliding *ngFor="let materia of materias;let i = index" >

      <ion-item [routerLink]="['/inicio/tareas']">
        <ion-label class="texto-grande"><ion-icon slot="icon-only" name="square" color="{{materia.colorClase}}"></ion-icon> {{materia.nombreClase}}</ion-label>
        <p color="medium">0/0</p> 
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="borrarMateria( i )" color="danger"><ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarMateria()">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-footer>

      <ion-tab-button tab="tab1">
        <ion-icon color="medium" name="home"></ion-icon>
        <ion-label color="medium">INICIO</ion-label>
      </ion-tab-button>

</ion-footer>

