<ion-content>

  <ion-item-group class="header-progreso">
    <!-- Titulo de la pagina y muestra el procentage de todas las tareas completadas/totales -->
    <ion-title class="ion-text-center" color="light">PROGRESO DE TAREAS<ion-label color="success">{{porcentage}}%</ion-label></ion-title>
    <!-- Barra que mostrara de manera visual el procentage de tareas completadas -->
    <ion-progress-bar color="success" [value]="progreso"></ion-progress-bar>
    
  </ion-item-group>

  <!-- Subtitulo de la pagina -->
  <ion-title class="ion-text-center titulo" color="medium" disabled="true">TAREAS DISPONIBLES</ion-title>

  <!-- Lista de todas las tareas disponibles -->
  <ion-list>
    <!-- Para cada tarea se aplicara el item-sliding para poder borrar cada tarea -->
    <!-- Se recorre el arreglo de tareas -->
    <ion-item-sliding *ngFor="let tarea of arregloTareas;let i = index">
    <!-- Se hace una validacion que permite que solo se muestren las tareas si estan en una materia especifica -->
    <div *ngIf="tarea.materiaID === indiceDeMateria">
      <!-- Al dar click a una tarea se dirige a la pagina de detalles respectiva  -->
      <ion-item [routerLink]="['/detalles-tarea']" (click)="obtenerIndexTarea( i )">
        <!-- Se muestra el nombre de la tarea ademas de una figura del color seleccionado representanto el status -->
        <ion-label class="texto-grande"><ion-icon slot="icon-only" name="caret-forward" color="{{tarea.colorTarea}}"></ion-icon> {{tarea.nombreTarea}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!-- Boton que borrara la tarea y se encia su indice como parametro -->
        <ion-item-option (click)="borrarTarea( i )" color="danger"><ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </div>
    </ion-item-sliding>
  </ion-list>

  <!-- Boton flotante que tiene como funcion agregar nuevas tareas -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarTarea()">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Boton flotante que tiene como funcion actualizar la barra de progreso -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="medium"  (click)="actualizarBarra()">
      <ion-icon color="light" name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Boton flotante que tiene como funcion ver todas las fotos tomadas -->
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="verPhotos()">
      <ion-icon color="light" name="images"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<!-- Footer de la aplicacion para regresar a la pagina de inicio -->
<ion-footer>
      <ion-tab-button tab="tab1" [routerLink]="['/']">
        <ion-icon color="medium" name="home"></ion-icon>
        <ion-label color="medium">INICIO</ion-label>
      </ion-tab-button>
</ion-footer>
